<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="google-site-verification" content="lEh3VrGer4g96OfPNqJ-tFqWk9ge0dZj23XIRNL_cCE" />
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="icon" href="/img/logo.png" />
  <meta name="description" content="Faseelah Team - Simple and clean website." />
</head>
